$breakpoints: (
  not-mobile: 426px
);

$layout-sideGutters: 1.5rem; 

$color-sec: #6949de;
$color-pri-dark: #4C407C;
$color-pri: #ff8484;
$color-black: #333333;
$color-grey-dark: #A4A2AD;
$color-grey-light: #D7D4DF;
$color-grey-bg: #F1F3F5;

$font-main: 'CircularStd', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;