@import 'styles/tools';

/* CircularStd @font-face kit */
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-Black.eot");
  src: url("assets/fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Black.woff") format("woff"), url("assets/fonts/CircularStd-Black.ttf") format("truetype"), url("assets/fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-BlackItalic.eot");
  src: url("assets/fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-BlackItalic.woff") format("woff"), url("assets/fonts/CircularStd-BlackItalic.ttf") format("truetype"), url("assets/fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-Bold.eot");
  src: url("assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Bold.woff") format("woff"), url("assets/fonts/CircularStd-Bold.ttf") format("truetype"), url("assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-BoldItalic.eot");
  src: url("assets/fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-BoldItalic.woff") format("woff"), url("assets/fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("assets/fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-Medium.eot");
  src: url("assets/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Medium.woff") format("woff"), url("assets/fonts/CircularStd-Medium.ttf") format("truetype"), url("assets/fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-MediumItalic.eot");
  src: url("assets/fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-MediumItalic.woff") format("woff"), url("assets/fonts/CircularStd-MediumItalic.ttf") format("truetype"), url("assets/fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-Book.eot");
  src: url("assets/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Book.woff") format("woff"), url("assets/fonts/CircularStd-Book.ttf") format("truetype"), url("assets/fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/CircularStd-BookItalic.eot");
  src: url("assets/fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-BookItalic.woff") format("woff"), url("assets/fonts/CircularStd-BookItalic.ttf") format("truetype"), url("assets/fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic;
}


body {
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #62b3ad;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include not-mobile {
    background: white;
  }
}

.g-app {
  @include s-font-main;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  contain: strict;
  overflow: hidden;
  // background: $color-pri;

  @include not-mobile {
    position: relative;
    width: 425px;
    height: 740px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 24px 0 rgba(7, 30, 57, 0.15);
    animation-direction: forwards;
  }

  &--next .g-view--enter {
    z-index: 2;
    animation-name: next-enter;
  }
  @keyframes next-enter {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }

  &--next .g-view--exit {
    z-index: 1;
    pointer-events: none;
    animation-name: next-exit
  }
  @keyframes next-exit {
    from { transform: translateX(0%); opacity: 1; }
    to { transform: translateX(-15%); opacity: .8; }
  }

  &--prev .g-view--enter {
    z-index: 1;
    animation-name: prev-enter
  } 
  @keyframes prev-enter {
    from { transform: translateX(-15%);  }
    to { transform: translateX(0%); }
  }

  &--prev .g-view--exit {
    z-index: 2;
    pointer-events: none;
    animation-name: prev-exit
  }
  @keyframes prev-exit {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
  }

  &--open .g-view--enter {
    z-index: 2;
    animation-name: open-enter
  } 
  @keyframes open-enter {
    from { opacity: 0 }
    to { opacity: 1}
  }

  &--open .g-view--exit {
    z-index: 1;
    pointer-events: none;
    animation-name: open-exit
  }
  @keyframes open-exit {
    from { transform: scale(1); opacity: 1}
    to { transform: scale(1.1); opacity: 0}
  }

  &--close .g-view--enter {
    z-index: 2;
    animation-name: close-enter
  } 
  @keyframes close-enter {
    from { transform: scale(1.1); opacity: 0}
    to { transform: scale(1); opacity: 1}
  }

  &--close .g-view--exit {
    z-index: 1;
    pointer-events: none;
    animation-name: close-exit
  }
  @keyframes close-exit {
    from { transform: scale(1); opacity: 1}
    to { transform: scale(0.9); opacity: 0}
  }

}

.g-view {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}


.g-bg-pri {
  background-color: $color-pri;
}

.g-title {
  @include s-font-app-title;
  color: white;
  text-align: center;
}