@import 'styles/tools';

.button {
  @include u-reset-button;
  height: 56px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-width: 220px;
  border-radius: 1000px;
  box-shadow: 0px 10px 20px 0px transparentize($color-pri-dark, .85);
}

.ripple {
  border-radius: 1000px;
}

.buttonPrimary {
  composes: button;
  font-weight: bolder;
  font-size: 14px;
  background-color: $color-sec;
  text-transform: uppercase;
  color: white;
}

.buttonGoogle {
  composes: button;
  font-size: 16px;
  background-color: white;
  color: #6a6e74;
  min-width: 260px;
}

.buttonFacebook {
  composes: button;
  font-size: 16px;
  background-color: #3b5998;
  color: white;
  min-width: 260px;
}

.socialLogo {
  height: 100%;
  width: auto;
  display: block;
}